#  Host example
#    HostName some.example.com
#    User ubuntu
#    IdentityFile ~/.ssh/id_rsa
#    ForwardAgent yes
#    port 2225
#    ForwardX11 yes
#    LocalForward 8080 wwwcache.example.com:8081
#    Compression yes
#    ForwardX11 yes
#    DynamicForward 20022
